<?xml version="1.0" ?>
<robot name="testrig" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:arg name="laser_visual" default="false"/>
  <xacro:arg name="imu_visual"   default="false"/>


<!-- Front -->
  <gazebo reference="base_link">
    <material>Gazebo/Grey</material>
  </gazebo>
<!-- Front LW-->
  <gazebo reference="wheel_front_left_link">
    <mu1>200.0</mu1>
    <mu2>100.0</mu2>
    <kp>100000.0</kp>
    <kd>1.0</kd>
    <material>Gazebo/FlatBlack</material>
  </gazebo>

<!-- Front RW-->
  <gazebo reference="wheel_front_right_link">
    <mu1>200.0</mu1>
    <mu2>100.0</mu2>
    <kp>100000.0</kp>
    <kd>1.0</kd>
    <material>Gazebo/FlatBlack</material>
  </gazebo>

<!-- ______________________________ -->
<!-- Joint between front and middle -->
  <gazebo reference="front_link_middle">
    <material>Gazebo/Orange</material>
  </gazebo>

<!-- Middle -->
  <gazebo reference="middle_base">
    <material>Gazebo/Grey</material>
  </gazebo>
<!-- Middle LW-->
  <gazebo reference="wheel_middle_left_link">
    <mu1>200.0</mu1>
    <mu2>100.0</mu2>
    <kp>100000.0</kp>
    <kd>1.0</kd>
    <material>Gazebo/FlatBlack</material>
  </gazebo>

<!-- Middle RW-->
  <gazebo reference="wheel_middle_right_link">
    <mu1>200.0</mu1>
    <mu2>100.0</mu2>
    <kp>100000.0</kp>
    <kd>1.0</kd>
    <material>Gazebo/FlatBlack</material>
  </gazebo>
<!-- ______________________________ -->
<!-- Joint between middle and back -->
    <gazebo reference="middle_link_back">
    <material>Gazebo/Orange</material>
  </gazebo>
<!-- Back -->
  <gazebo reference="back_base">
    <material>Gazebo/Grey</material>
  </gazebo>
<!-- Back LW -->
    <gazebo reference="wheel_back_left_link">
    <mu1>200.0</mu1>
    <mu2>100.0</mu2>
    <kp>100000.0</kp>
    <kd>1.0</kd>
    <material>Gazebo/FlatBlack</material>
  </gazebo>
<!-- Back RW-->
  <gazebo reference="wheel_back_right_link">
    <mu1>200.0</mu1>
    <mu2>100.0</mu2>
    <kp>100000.0</kp>
    <kd>1.0</kd>
    <material>Gazebo/FlatBlack</material>
  </gazebo>
<!-- ROBOT DONE ABOVE -->

 <!-- camera -->
  <gazebo reference="camera_link">
    <sensor type="multicamera" name="stereo_camera">
      <update_rate>30.0</update_rate>
      <camera name="left">
        <horizontal_fov>1.3962634</horizontal_fov>
        <image>
          <width>800</width>
          <height>800</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.02</near>
          <far>300</far>
        </clip>
        <noise>
          <type>gaussian</type>
          <!-- Noise is sampled independently per pixel on each frame.
               That pixel's noise value is added to each of its color
               channels, which at that point lie in the range [0,1]. -->
          <mean>0.0</mean>
          <stddev>0.007</stddev>
        </noise>
      </camera>
      <camera name="right">
        <horizontal_fov>1.3962634</horizontal_fov>
        <image>
          <width>800</width>
          <height>800</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.02</near>
          <far>300</far>
        </clip>
        <noise>
          <type>gaussian</type>
          <!-- Noise is sampled independently per pixel on each frame.
               That pixel's noise value is added to each of its color
               channels, which at that point lie in the range [0,1]. -->
          <mean>0.0</mean>
          <stddev>0.007</stddev>
        </noise>
      </camera>
      <plugin name="stereo_camera_controller" filename="libgazebo_ros_multicamera.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>0.0</updateRate>
        <cameraName>camera</cameraName>
        <imageTopicName>image_raw</imageTopicName>
        <cameraInfoTopicName>camera_info</cameraInfoTopicName>
        <frameName>camera_link</frameName>
        <hackBaseline>0.07</hackBaseline>
        <distortionK1>0.0</distortionK1>
        <distortionK2>0.0</distortionK2>
        <distortionK3>0.0</distortionK3>
        <distortionT1>0.0</distortionT1>
        <distortionT2>0.0</distortionT2>
      </plugin>
    </sensor>
  </gazebo>

  <gazebo reference="imu_link">
    <gravity>true</gravity>
    <sensor name="imu_sensor" type="imu">
      <always_on>true</always_on>
      <update_rate>100</update_rate>
      <visualize>true</visualize>
      <topic>__default_topic__</topic>
      <plugin filename="libgazebo_ros_imu_sensor.so" name="imu_plugin">
        <topicName>imu</topicName>
        <bodyName>imu_link</bodyName>
        <updateRateHZ>10.0</updateRateHZ>
        <gaussianNoise>0.0</gaussianNoise>
        <xyzOffset>0 0 0</xyzOffset>
        <rpyOffset>0 0 0</rpyOffset>
        <frameName>imu_link</frameName>
      </plugin>
      <pose>0 0 0 0 0 0</pose>
    </sensor>
  </gazebo>
<!-- Controller for waists -->
</robot>




